<!-- Display problem and solution -->
<div class ="row features justify-content-center">
  <div class="col-md-8">
    <div class="card border-primary">
      <h5 class="card-header bg-primary text-warning"><%=@problem.user.username.capitalize%>'s Problem</h5>
        <div class="card-body">
          <h5 class="card-title"><%=@problem.question%></h5>
          <p class="card-text">Solution: </p>
          <p><%= @solution.explanation%></p>
          <p>My final answer is <%= @solution.student_answer%>.</p>
        </div>
      </div>
    </div>

    <!-- comment box -->
    <div class="col-md-8">
      <div class="card border-primary">
        <!-- <h5 class="card-header bg-primary text-info">Respond to <%=@problem.user.username.capitalize%></h5> -->
          <div class="card-body">
            <h5 class="card-title text-success">Edit your Comment:</h5>
            <form action ="/comments/<%=@comment.id%>" class ="form-group col-md-8" method ="post">
              <input type ="hidden" id ="hidden" name ="_method" value ="patch">
              <input type="text" readonly class="form-control-plaintext" value="<%=@comment.content%>">
              <textarea name ="content" class ="form-control" width ="100%" value="<%=@comment.content%>" required></textarea><br>
              <button type="submit" class="btn btn-sm btn-primary pull-right">Save</button>
            </form>
        </div>
      </div>
    </div>
  </div>
