<h1>My Math Buddies</h1>
You have <%=@friends.size%> Math Buddies! <br>

<div class="row justify-content-center">
<%if @friends.size > 0%>
<div class="col-md-8 mb-3">
<%@friend_rows.each do |row|%>
  <div class="card-deck">
    <%row.each do |friend|%>
      <div class="card text-center border-primary">
        <h5 class="card-header bg-primary text-warning"><%=friend.username.capitalize%></h5>
        <ul class="list-group list-group-flush text-left">
          <li class="list-group-item text-center">
            <form action ="/friends/<%=friend.username%>" method = "post">
            <input type ="hidden" id ="hidden" name ="_method" value ="delete">
            <input type ="submit" value ="Unfollow" class ="btn-sm btn-success">
            </form>
        </li>
        </ul>
        <div class ="h-100 justify-content-center"">
          <a class = "text-center" href = "/problems/<%=friend.username%>"><img src="<%=friend.img_url%>" alt="profile picture" width =100px></a>
        </div>
      </div>
    <%end%>
  </div>
<%end%>
</div>
<%end%>
</div>

<h1>Math Social Users:
<div class="row justify-content-center">
<div class="col-md-8 mb-3">
<%@other_users_rows.each do |row|%>
  <div class="card-deck">
    <%row.each do |user|%>
      <div class="card text-center border-primary" style="width: 18rem;">
        <h5 class="card-header bg-primary text-warning"><%=user.username.capitalize%></h5>
        <ul class="list-group list-group-flush text-left">
          <li class="list-group-item text-center">
            <a href ="/friends/<%=user.username%>/add" class = "btn-sm btn-success">Follow</a>
        </li>
        </ul>
        <div class ="justify-content-center"">
          <img src="<%=user.img_url%>" alt="profile picture" width =100px>
        </div>
      </div>
    <%end%>
  </div>
  <br>
<%end%>
</div>

</div>
