<h1><%=@user.username %>'s Portfolio:</h1>
<a href ="/problems/<%=@user.username%>"><img src ="<%=@user.img_url%>" width =100></a>
Review the problems you solved, but don't stop there! Make sure you solve more problems to add to your portfolio!

<a href ="/problems/<%=@user.username%>">View my Portfolio</a>

<h1>Investigate with Friends:</h1>
Check out your <a href ="/friends/<%=current_user.username%>">friends' portfolios</a> and give helpful hints about their math solutions!

<%@friends.each do |friend|%>
<a href ="/problems/<%=friend.username%>"><img src ="<%=user.img_url%>" width =100></a>
<%end%>
