<!-- # <% if current_user.id == @user.id %>
#     <h1>My Portfolio: </h1>
#     <img src="<%=@user.img_url%>" width =100><br>
#
#     <a href ="/solutions">Solve a Task!</a><br>
#
# <% else %>
#     <h1><%=@user.username%>'s Portfolio: </h1>
#     <img src="<%=@user.img_url%>" width =100><br>
#     <% if current_user.friends.any? {|friend| friend.username == @user.username} %>
#         You and <%= @user.username %> are Math Buddies!
#     <% else %>
#         <a href ="/friends/<%=@user.username%>/add" class = "btn-sm btn-success">Add Math Buddy</a><br>
#     <% end %>
# <%end%><br><br> -->
<% if current_user.id == @user.id %>
  <h2 class ="text-success">My Portfolio</h2>
<% else %>
  <h2 class ="text-success"><%=@user.username.capitalize%>'s Portfolio</h2>
<% end %>
<!-- sidebar -->

<div class="row">
  <aside class="col-md-3">
    <div class="card profile-info border-primary text-center" style="max-width: 100%;">
      <div class ="text-center">
        <% if current_user.id == @user.id%>
            <img src ="<%=current_user.img_url%>" width =100>
        <% else%>
          <img src ="<%=@user.img_url%>" width =100>
        <% end%>
      </div>
      <div class="card-body">
          <h5 class="card-title text-success"><%=@user.username.capitalize%></h5>
          <% if current_user.id == @user.id%>
            <p class="card-text text-left">This is your robot. The more problems you solve the more things your robot will be able to do! Make sure you help your friends and solve as many problems as possible!</p>
          <% else %>
            <p class="card-text text-left">This is <%= @user.username.capitalize %>'s robot. The more problems your math buddy solves, the more things this robot will be able to do! Make sure you help your math buddy's robot by commenting on problems and giving math advice!</p>
          <% end %>
      </div>
      <ul class="list-group list-group-flush text-left">
        <li class="list-group-item"> </li>
        <% if current_user.id != @user.id %>
          <% if current_user.friends.any? {|friend| friend.username == @user.username} %>
                <li class="list-group-item">You and <%= @user.username.capitalize %> are Math Buddies!</li>
          <% else %>
                <a href ="/friends/<%=@user.username%>/add" class = "btn-sm btn-success">Follow</a><br>
          <% end %>
        <% end %>
        <li class="list-group-item"><%=@solution_count%> problems solved</li>
          <li class="list-group-item"><%=@user.friends.size%> Math Buddies</li>
      </ul>
      <div class="text-left">
        <%@user.get_friends.each do |friend|%>
          <a href ="/problems/<%=friend.username%>"><img src ="<%=friend.img_url%>" width =50></a>
        <%end%>
      </div>
      <!-- <div class="card-body text-left">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
      </div> -->
  </div>
</aside>






<main class ="col-md-8">
  <% if !@user.problems.nil? %>
    <%@user.problems.each do |problem|%>
    <% if !problem.solution.nil? %>
      <!-- <div class="container-fluid"> -->
      <!-- <div width=100%> -->
        <div class="card border-primary">
          <h5 class="card-header bg-primary text-warning">Solution</h5>
          <div class="card-body">
            <h5 class="card-title"><%=problem.question%></h5>
            <!-- <p class="card-text"><%=problem.question%></p> -->
            <a href="/solutions/<%=problem.solution.id%>" class="btn btn-success text-right">View</a>
          </div>
        </div>
      <!-- </div> -->
        <!-- <br> -->
      <!-- </div> -->
      <!-- </div> -->
    <%end%>
    <%end%>
  <%end%>
    <% if @solution_count == 0 && current_user.id == @user.id%>
      <h2 class ="text-success">You have not solved any problems, yet. Let's investigate!</h2>
    <%elsif @solution_count == 0%>
      <h2 class ="text-success"><%=@user.username.capitalize%> has not solved any problems, yet. Check back later to see your buddy's progress!</h2>
    <%end%>
</main>
</div> <!-- row -->









<!-- <h1>Problems: </h1>


<% if !@user.problems.nil? %>
  <%@user.problems.each do |problem|%>
  <% if !problem.solution.nil? %>
    <%=problem.question%><br>
    <a href ="/solutions/<%=problem.solution.id%>">View</a><br><br>
    <% end %>
  <% end %>
<% else %>
  You have not solved any problems, yet. Let's investigate!
<% end %> -->
