<% if current_user == @problems.user %>
<h1>My Portfolio: </h1>
<img src="<%=@problems.user.img_url" width =100>

<a href ="/solutions">Solve a Task!</a>

<% else %>
<h1><%=@problems.user%>'s Portfolio: </h1>
<img src="<%=@problems.user.img_url" width =100>

<a href ="/friends/<%=@problems.user.username%>/add">Add Math Buddy</a><br>

<%end%>

<%@problems.each do |problem|%>
<%=problem.question%><br>
<a href ="/solutions/<%=problem.solution.id%>">View</a><br><br>
<%end%>
