<h1><%=@user.username %>'s Portfolio:</h1>
<a href ="/<%=@user.username%>/problems"><img src ="<%=@user.img_url%>" width =100></a>
Review the problems you solved, but don't stop there! Make sure you solve more problems to add to your portfolio!

<a href ="/<%=@user.username%>/problems">View my Portfolio</a>

<h1>Investigate with Friends:</h1>
Check out your friends portfolios and give helpful hints about their math solutions!

<%@users.each do |user|%>
<a href ="/<%=user.username%>/problems"><img src ="<%=user.img_url%>" width =100></a>
<%end%>
