<!doctype html>
<html>
<head>
  <title>Math Social</title>
  <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- <div id ="nav">
    <ul>
      <% if logged_in? %>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/friends/<%=current_user.id%>">Math Buddies</a></li>
      <li><a href="/problems/<%=current_user.username%>">Portfolio</a></li>
      <li><a href="/problems/new">Investigate</a></li>
      <%else %>
      <li><a href="/signup">Join</a></li>
      <li><a href="/login">Log in</a></li>
      <%end %>
      <li><a href="/problem-home"><img src ="/images/logo.png" height =26></a></li>
    </ul>
  </div> -->

  <nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="/"><img src ="/images/logo.png" height =42></a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <% if logged_in? %>
      <li class="nav-item">
        <a class="nav-link" href="/solutions">Investigate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/problems/<%=current_user.username%>">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/friends/<%=current_user.id%>">Math Buddies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <%else %>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Join</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log in</a>
      </li>
      <%end %>
    </ul>
  </div>
</nav>

  <header class="page-header header container-fluid">
    <%= yield %>
  </header>
</body>
</html>
