<h2>Problem: </h2>
<%= @problem.question%><br>
<h2>My Solution: </h2>
<%= @solution.explanation%><br>
My final answer is: <%= @solution.student_answer%><br><br>

<a href ="/solutions/<%=@solution.id%>/edit">Edit</a>

<form action= "/solutions/<%=@solution.id%>" method ="post">
  <input type = "hidden" id ="hidden" name ="_method" value = "delete">
  <input type = "submit" value= "Delete Solution">
</form>

<h2>Comments: </h2>
<% @solution.comments.each do |comment|%>
<%= comment.user.username%>:  <%= comment.content%> <a href ="/comments/<%=comment.id%>/edit">Edit</a>
<form action ="/comments/<%=comment.id%>" method = "post">
  <input type ="hidden" id ="hidden" name ="_method" value ="delete">
  <input type ="submit" value="Delete Comment">
<br>
<% end%>

<a href ="/comments/<%=@solution.id%>">Comment</a>

<a href ="/problems/<%=current_user.username%>">View My Portfolio</a>
