<h2>Problem: </h2>
<%= @problem.question%><br>
<h2>My Solution: </h2>
<%= @solution.explanation%><br>
My final answer is: <%= @solution.student_answer%><br><br>
<h2>Comments: </h2>
<% @solution.comments.each do |comment|%>
<%= comment.user.username%>:  <%= comment.content%><br>
<% end%>

<a href ="/comments/<%=@solution.id%>">Comment</a>

<a href ="/problems/<%=current_user.username%>">View My Portfolio</a>
